extends ../src/layoutMain.pug

block head
  title Take quiz - Quizzify

block scripts

block content
  .container
    .jumbotron.pb-3.mb-3.mt-2
      .row
        .col-sm-auto
          block quizImg
        .col
          block quizTitle
        .col.position-relative
          .btn-group.position-absolute(role="group" display="inline" style="bottom: 0; right: 0; padding: inherit")
            button.btn.btn-outline-secondary(type="button") Save
            button.btn.btn-outline-secondary(type="button") Share
            button.btn.btn-outline-secondary(type="button") Copy
  .container
    .row.mb-3
      .col-sm-1
      .col
        block quizContent
      .col-sm-1
    .row
      .col-sm-1
      .col
        .row.pl-3.pr-3
          .col-4.p-3
            h4.mb-3.font-weight-bold.text-center Completion: 
              span.font-weight-normal#completiontext 0/5
            .progress
              .progress-bar#completion(role="progressbar" style="width: 00%" aria-valuenow="00")
          .col-4.p-3
            h4.mb-3.font-weight-bold.text-center Score: 
              span.font-weight-normal#scoretext 0% (0/5)
            .progress
              .progress-bar#score(role="progressbar" style="width: 00%" aria-valuenow="00")
          .col-4.p-3
            h4.mb-3.font-weight-bold.text-center Time left: 
              span.font-weight-normal#timertext 5m 00s
            .progress.justify-content-end
              .progress-bar#timer(role="progressbar" style="width: 00%;display: block" aria-valuenow="00")
      .col-sm-1