
.card.bg-light.mb-3
  .card-body
    h5.card-title Quiz
    button.btn.btn-block.btn-outline-primary(type="button") Create new quiz
    button.btn.btn-block.btn-outline-secondary(type="button") Play random quiz
    //- button.btn.btn-outline-secondary.dropdown-toggle(type="button" data-toggle="dropdown")
    //-     span.sr-only Toggle Dropdown
    //-   .dropdown-menu
    //-     a.dropdown-item(href="#") Action
    //-     a.dropdown-item(href="#") Another actions
.card.bg-light.mb-3
  .card-body
    h5.card-title Party
    table.table.table-hover.mb-0
      tbody
        tr
        td.align-middle.font-italic You are not in a party. Invite someone to quiz together!
    h6
.card.bg-light
  .card-body
    h5.card-title Friends
    table.table.table-hover.mb-0
      tbody
        tr
          td.align-middle(style="width: 2em")
            img(src='img/empty_profile.png' width='30' height='30' alt='logo')
          td.align-middle John Doe
          td.align-middle
            button.btn.btn-sm.btn-secondary.float-right(type="button") X