doctype html
head
  title Home
  include head
include navbar
.d-flex
  #sidepanel
    .card.bg-light
      .card-body
        h4.card-title Review
        h6
          b Friend List
        button#selectallbtn.btn.btn-secondary.btn-sm.btn-block(type='button') Select All
        button#restorebtn.btn.btn-secondary.btn-sm.btn-block(type='button') Restore
    .card.bg-light
      .card-body
        h4.card-title Download
  #contentpanel
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarfortable' aria-controls='navbarfortable' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarfortable.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          span.navbar-text
          li.nav-item
            select#row_selector.custom-select.mr-sm-2
              option(selected='' value='10') 10
              option(value='25') 25
              option(value='50') 50
              option(value='100') 100
          ul#pagination.pagination
          span#errorindicator.navbar-text(style='display: none')
            p No record found under current condition.
        form.form-inline.my-2.my-lg-0
          input#searcharea.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
          button#searchbtn.btn.btn-outline-success.my-2.my-sm-0(type='button' onclick='formsearch()') Search
          button#canclebtn.btn.btn-outline-danger.my-2.my-sm-0(style='margin-left: 0.5em' disabled='' type='button') Cancle
    table#myTable
      thead
      tbody
      tfoot
#drivepage(style='display: none; width: 100%; height: calc(100vh - 4em);')
