extends ../src/layoutMain.pug

block head
  title Page Not Found - Quizzify

block content
    .jumbotron
        h1.display-4 Oops!
        p.lead
            | 404 Not Found
        hr.my-4
        p
            | You have reached the outerworld, this could be because the function has not been developed in this developement version.
        p.lead
            a.btn.btn-primary.btn-lg(href='index.html' role='button') Take me back to Home
