doctype html
head
  title Login - Quizzify
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  link(rel='shortcut icon' type='image/x-icon' href='pictures/quizzify_icon.png')

  //bootstrap
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')

  script(src='https://kit.fontawesome.com/1e74007db0.js')
  link(rel='stylesheet' type='text/css' href='/css/login.css')


form.form-signin
  img.mb-4(src='img/letter_q_PNG21.png' alt='' width='72' height='72')
  h1.h3.mb-3.font-weight-normal Please sign in
  label.sr-only(for='inputEmail') Email address
  input#inputEmail.form-control(type='email' placeholder='Email address' required='' autofocus='')
  label.sr-only(for='inputPassword') Password
  input#inputPassword.form-control(type='password' placeholder='Password' required='')
  .checkbox.mb-3
    label
      input(type='checkbox' value='remember-me')
      |  Remember me
  button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in