extends ../src/layoutMain.pug

block head
  title Profile - Quizzify
  link(rel='stylesheet' type='text/css' href='/css/style.css')

block scripts
  script(src='/js/profile.js')
  

block content
  .container-fluid
    .row
      .col-sm-4.col-lg-6.d-md-block.p-3#informationpanel
        .card.bg-light.mb-3
          .card-body
            h5.card-title.text(style='text-align: center') Information
            table.table.table-hover.mb-0
              tbody
                tr
                td 
                  img(src='img/catprof.jpg' class="center" alt='Card image cap')
          
            p(id = "name1" style='text-align: center') Name: Frankie Jardio
            p(id = "home1" style='text-align: center') Home: St Paul, Minnesota
            p(id = "education1" style='text-align: center') Education: Computer Engineering at University of Minnesota - Twin Cities
            p(id = "birthday1" style='text-align: center') Birthday: May 13, 2003
            p(id = "profession1" style='text-align: center') Profession: Unemployed

            h6.card-title.text(style = 'text-decoration: underline') Bio
            p(id = "bio1" style = 'font-style: italic') I like good scratches, meat, cleaning, and annoying my family! Also I really don't like my sister Hima because she is so sensitive.
            button#searchbtn.btn.btn-outline-success.my-2.my-sm-0(type='button' onclick='openForm()' style = 'float: right') Edit
            <div class="form-popup" id="myForm">
              <form action="/action_page.php" class="form-container">

              <h1 style = 'text-decoration: underline'> Edit Profile Information </h1>
                <label for="name" ><b>Name:</b></label>
                <input type="text" id="name" placeholder="Enter Name" name="name" required> 
                p()

                <label for="Home"><b>Home:</b></label>
                <input type="text" id="home" placeholder="Enter Home" name="Home"  required>
                p()

                <label for="Education"><b>Education:</b></label>
                <input type="text" id="education" placeholder="Enter Education" name="Education"   required>
                p()

                <label for="Birthday"><b>Birthday:</b></label>
                <input type="text" id="birthday" placeholder="Enter Birthday" name="Birthday"   required>
                p()

                <label for="Profession"><b>Profession:</b></label>
                <input type="text" id="profession" placeholder="Enter Profession" name="Profession"  required>
                p()

                <label for="Bio"><b>Bio:</b></label>
                <input type="text" id="bio" placeholder="Enter Bio" name="Bio" required>

                button#searchbtn.btn.btn-outline-success.my-2.my-sm-0(type='button' onclick='closeForm()' style = 'float: right') Close
                button#searchbtn.btn.btn-outline-success.my-2.my-sm-0(type='button' onclick='submitForm()' style = 'float: right') Submit
              </form>
            </div>

      .col-sm-4.col-lg-6.d-md-block.p-3#activitypanel
        .card.bg-light.mb-3
            .card-body
              h5.card-title.text(style='text-align: center') Activity
              table.table.table-hover.mb-0
                tbody
                  tr
                  td 

              p(style='font-style: italic') Created a new quiz called "Geography"   
              p(style='font-style: italic') Gave a quiz "Calculus 1" a rating of 2 out of 5
              p(style='font-style: italic') Joined "Juggling" class by Professor Lichderstein
              p(style='font-style: italic') Created a group "Coding"
              p(style='font-style: italic') Added Stella Jardio as a friend  
      
        .card.bg-light.mb-3
              .card-body
                h5.card-title.text(style='text-align: center') Friends
                table.table.table-hover.mb-0
                  tbody
                    tr
                    td 

                div()
                  img(src='img/empty_profile.png' width='30' height='30' alt='logo') 
                  p.align-middle(style = 'display: inline; position: relative; left: 25px;') John Doe
                div()
                  img(src='img/empty_profile.png' width='30' height='30' alt='logo' style = 'display: inline-block') 
                  p.align-middle(style = 'display: inline; position: relative; left: 25px;') Stella Jardio
                div()
                  img(src='img/empty_profile.png' width='30' height='30' alt='logo' style = 'display: inline-block') 
                  p.align-middle(style = 'display: inline; position: relative; left: 25px;') Balooga Bear
                div()
                  img(src='img/empty_profile.png' width='30' height='30' alt='logo' style = 'display: inline-block') 
                  p.align-middle(style = 'display: inline; position: relative; left: 25px;') Monke Kazoo
                div()
                  img(src='img/empty_profile.png' width='30' height='30' alt='logo' style = 'display: inline-block') 
                  p.align-middle(style = 'display: inline; position: relative; left: 25px;') Hima Jardio
                div()
                  img(src='img/empty_profile.png' width='30' height='30' alt='logo' style = 'display: inline-block') 
                  p.align-middle(style = 'display: inline; position: relative; left: 25px;') Sher Kahn
                div()
                  img(src='img/empty_profile.png' width='30' height='30' alt='logo' style = 'display: inline-block') 
                  p.align-middle(style = 'display: inline; position: relative; left: 25px;') Puma Bagheera
                div()
                  img(src='img/empty_profile.png' width='30' height='30' alt='logo' style = 'display: inline-block') 
                  p.align-middle(style = 'display: inline; position: relative; left: 25px;') Rikku Chikku

            
          
