extends ../src/layoutMain.pug

block head
  title Profile - Quizzify

block content
  .container-fluid
    .row
      .col-sm-4.col-lg-6.d-md-block.p-3#informationpanel
        .card.bg-light.mb-3
          .card-body
            h5.card-title.text(style='text-align: center') Information
            table.table.table-hover.mb-0
              tbody
                tr
                td 
                  img(src='img/catprof.jpg' class="center" alt='Card image cap')
          
            p(style='text-align: center') Name: Frankie Jardio
            p(style='text-align: center') Home: St Paul, Minnesota
            p(style='text-align: center') Education: Computer Engineering at University of Minnesota - Twin Cities
            p(style='text-align: center') Birthday: May 13, 2003
            p(style='text-align: center') Profession: Unemployed

            h6.card-title.text(style = 'text-decoration: underline') Bio
            p(style = 'font-style: italic') I like good scratches, meat, cleaning, and annoying my family! Also I really don't like my sister Hima because she is so sensitive.
            button(style='float: right') Edit

      .col-sm-4.col-lg-6.d-md-block.p-3#activitypanel
        .card.bg-light.mb-3
            .card-body
              h5.card-title.text(style='text-align: center') Activity
              table.table.table-hover.mb-0
                tbody
                  tr
                  td 

              p(style='font-style: italic') Created a new quiz called "Geography"   
              p(style='font-style: italic') Gave a quiz "Calculus 1" a rating of 2 out of 5
              p(style='font-style: italic') Joined "Juggling" class by Professor Lichderstein
              p(style='font-style: italic') Created a group "Coding"
              p(style='font-style: italic') Added Stella Jardio as a friend  
      
        .card.bg-light.mb-3
              .card-body
                h5.card-title.text(style='text-align: center') Friends
                table.table.table-hover.mb-0
                  tbody
                    tr
                    td 

                div()
                  img(src='img/empty_profile.png' width='30' height='30' alt='logo') 
                  p.align-middle(style = 'display: inline; position: relative; left: 25px;') John Doe
                div()
                  img(src='img/empty_profile.png' width='30' height='30' alt='logo' style = 'display: inline-block') 
                  p.align-middle(style = 'display: inline; position: relative; left: 25px;') Stella Jardio
                div()
                  img(src='img/empty_profile.png' width='30' height='30' alt='logo' style = 'display: inline-block') 
                  p.align-middle(style = 'display: inline; position: relative; left: 25px;') Balooga Bear
                div()
                  img(src='img/empty_profile.png' width='30' height='30' alt='logo' style = 'display: inline-block') 
                  p.align-middle(style = 'display: inline; position: relative; left: 25px;') Monke Kazoo
                div()
                  img(src='img/empty_profile.png' width='30' height='30' alt='logo' style = 'display: inline-block') 
                  p.align-middle(style = 'display: inline; position: relative; left: 25px;') Hima Jardio
                div()
                  img(src='img/empty_profile.png' width='30' height='30' alt='logo' style = 'display: inline-block') 
                  p.align-middle(style = 'display: inline; position: relative; left: 25px;') Sher Kahn
                div()
                  img(src='img/empty_profile.png' width='30' height='30' alt='logo' style = 'display: inline-block') 
                  p.align-middle(style = 'display: inline; position: relative; left: 25px;') Puma Bagheera
                div()
                  img(src='img/empty_profile.png' width='30' height='30' alt='logo' style = 'display: inline-block') 
                  p.align-middle(style = 'display: inline; position: relative; left: 25px;') Rikku Chikku

            
          
      