extends ../src/layoutTakeQuiz.pug

block head
  title Geography Quiz - Quizzify
  link(rel='stylesheet' type='text/css' href='/css/takequiz.css')
  
block scripts
  script(src='/js/takequiz.js')

block quizImg
    img(src='img/geography.jpeg' alt='Responsive image' style="width:100px;height:100px")
block quizTitle
    h1 Geography Quiz
    h4.text-muted by 
        a(href="/profile.html") John Doe

block quizContent
    .container
        .modal-dialog
            .modal-content
                .modal-header
                    h3
                        span#qid.label.label-warning 2
                        |  THREE is CORRECT
                .modal-body
                    .col-xs-3.offset-xs-5
                        #loadbar(style='display: none;')
                            #rotateG_01.blockG
                            #rotateG_02.blockG
                            #rotateG_03.blockG
                            #rotateG_04.blockG
                            #rotateG_05.blockG
                            #rotateG_06.blockG
                            #rotateG_07.blockG
                            #rotateG_08.blockG
                    #quiz.quiz(data-toggle='buttons')
                        label.element-animation1.btn.btn-lg.btn-primary.btn-block
                            span.btn-label
                                i.fa.fa-chevron-right.fa-3x
                            input(type='radio' name='q_answer' value='1')
                            | 1 One
                        label.element-animation2.btn.btn-lg.btn-primary.btn-block
                            span.btn-label
                                i.fa.fa-chevron-right.fa-3x
                            input(type='radio' name='q_answer' value='2')
                            | 2 Two
                        label.element-animation3.btn.btn-lg.btn-primary.btn-block
                            span.btn-label
                                i.fa.fa-chevron-right.fa-3x
                            input(type='radio' name='q_answer' value='3')
                            | 3 Three
                        label.element-animation4.btn.btn-lg.btn-primary.btn-block
                            span.btn-label
                                i.fa.fa-chevron-right.fa-3x
                            input(type='radio' name='q_answer' value='4')
                            | 4 Four
                .modal-footer.text-muted
                    span#answer